<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AjaxCalls</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AjaxCallingServlet</display-name>
    <servlet-name>AjaxCallingServlet</servlet-name>
    <servlet-class>com.belk.store.admin.web.servlet.AjaxCallingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxCallingServlet</servlet-name>
    <url-pattern>/ajaxCall</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CountryInformation</display-name>
    <servlet-name>CountryInformation</servlet-name>
    <servlet-class>com.belk.store.admin.web.servlet.CountryInformation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CountryInformation</servlet-name>
    <url-pattern>/CountryInformation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrcessServlet</display-name>
    <servlet-name>PrcessServlet</servlet-name>
    <servlet-class>com.belk.store.admin.web.servlet.PrcessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrcessServlet</servlet-name>
    <url-pattern>/processServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CountrySelection</display-name>
    <servlet-name>CountrySelection</servlet-name>
    <servlet-class>com.belk.store.admin.web.servlet.CountrySelection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CountrySelection</servlet-name>
    <url-pattern>/countryAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SumOfServlet</display-name>
    <servlet-name>SumOfServlet</servlet-name>
    <servlet-class>com.belk.store.admin.web.servlet.SumOfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SumOfServlet</servlet-name>
    <url-pattern>/Ajaxexample</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sub3Servlet</display-name>
    <servlet-name>Sub3Servlet</servlet-name>
    <servlet-class>com.belk.store.admin.web.servlet.Sub3Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sub3Servlet</servlet-name>
    <url-pattern>/subServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateJson</display-name>
    <servlet-name>UpdateJson</servlet-name>
    <servlet-class>com.belk.store.admin.web.servlet.UpdateJson</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateJson</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
</web-app>