<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MashapApplication</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GetCurrencysServlet</display-name>
    <servlet-name>GetCurrencysServlet</servlet-name>
    <servlet-class>com.iwinner.mashap.servlet.GetCurrencysServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCurrencysServlet</servlet-name>
    <url-pattern>/startUp.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConversionCurrencyServlet</display-name>
    <servlet-name>ConversionCurrencyServlet</servlet-name>
    <servlet-class>com.iwinner.mashap.servlet.ConversionCurrencyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConversionCurrencyServlet</servlet-name>
    <url-pattern>/converion.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.iwinner.mashap.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginFilterOperation</display-name>
    <filter-name>LoginFilterOperation</filter-name>
    <filter-class>com.iwinner.mashap.filter.LoginFilterOperation</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilterOperation</filter-name>
    <url-pattern>/loginFilter</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>GetImageServlet</display-name>
    <servlet-name>GetImageServlet</servlet-name>
    <servlet-class>com.iwinner.mashap.servlet.GetImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetImageServlet</servlet-name>
    <url-pattern>/getImageServlet</url-pattern>
  </servlet-mapping>
</web-app>